@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
}
body {
    background: #393e46;
}
h1{
    background: #0092ca;
    font-size: 28px;
    text-algin: center;
    padding: 18px 0;
    color: #fff;
}
.container {

    display: flex;
    gap: 35px;
    padding 550px;
}
.weather-input input{
    width: 550px;
    width: 100%;
    outline: none;
    font-size: 18px;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radies: 4px 

}
.weather-input input:focus{

}
.weather-input .seperator{

}
.weather-input .seperator::before{
    
}
.weather-input button{
    
}
.weather-input .search-btn:hover{
    
}
.weather-input .location-btn{
    
}
.weather-input .location-btn::hover{
    
}
.weather-data {
    
}
.weather-data .current-weather {
    
}
.current-weather h2 {
    
}
.weather-data h6 {
    
}
